
*{
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus{
    text-decoration: none;
    outline: 0;
}

img{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,figure,figcaption,address{
    margin-top: 0;
    margin-bottom: 0;
}

b{
    display: block;
}

body{
    position: relative;
}


/*--------------------
    navbar-part
--------------------*/
.navbar{
    height: 130px;
    background: #d3e9fe;
    
}

.logo{
    
}

#menu ul li{
    margin-right: 33px;
    line-height: 3;
}

#menu ul li:last-child{
    color: #fff;
}

#menu ul a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #353535;
    text-transform: capitalize;
    position: relative;
    transition: all linear .4s;
    
}

#menu ul a:after{
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    top: 64px;
    left: 0px;
    background: #3a85c9;
    opacity: 0;
     transition: all linear .4s;
    
}

#menu ul a.active,
#menu ul a:hover{
    color: #3a85c9; 
}

#menu ul a.active:after,
#menu ul a:hover:after{
     opacity: 1;
     width: 100%;
}

#menu  li i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #3a85c9;
    padding-top: 11px;
    padding-left: 13px;
    color: #ffffff;
    margin-top: 14px;
}

.nav-bg{
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 19; 
    transition: all linear .4s;
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, .5);

}

.search{
    position: relative;
    cursor: pointer;
}




/*--------------------
    banner-part
--------------------*/

#banner-part{
    background: #d3e9fe;
    padding-top: 20px;
    padding-bottom: 78px;
    padding-left: 16px;
}

#banner-part .really{
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #3a85c9;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 0px;
    
}

#banner-part .dslr{
     font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #3a85c9;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: -10px;
}

#banner-part .made{
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #3a85c9;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: -13px;
}

#banner-part a {
	display: inline-block;
	padding: 9px 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	background: #ffffff;
	border-radius: 5%;
	color: #3a85c9;
	margin-top: 33px;
	transition: all linear .4s;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}

#banner-part a:hover{
   box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
     background: #3a85c9;
    color: #ffffff;
}

#banner-part .po-re{
    position: relative;
}

#banner-part .po-re img{
    position: absolute;
    bottom: -183px;
    left: 25px;
}

/*--------------------
    feature-part
--------------------*/

#feature-part{
    margin-top: 160px;
}
#feature-part .name{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #3a85c9;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#feature-part .title-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #353535;
    line-height: 2;
}
#feature-part .feature-box{
    height: 233px;
    background: rgba(250, 250, 250, 0);
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 30px;
    margin-top: 56px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
    transition: all linear .4s;
    
}

#feature-part .feature-box:hover{
    background: rgba(250, 250, 250, 1);
     box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

#feature-part .feature-box:hover i{
    color: #3a85c9;
}

#feature-part .feature-img{
    margin-top: 50%;
}

#feature-part i{
    font-size: 60px;
    
}

#feature-part .size{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #151515;
    margin-bottom: 16px;;
    
}

#feature-part .size-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    margin-bottom: 0;
}

/*--------------------
    about-part
--------------------*/
#about-part{
    margin-top: 65px;
    background: #d3e9fe;
    margin-top: 114px;
    padding-top: 54px;
    padding-bottom: 66px;
}
#about-part .po-re img{
    position: absolute;
    top: -81px;
    left: 157px;
}
#about-part .title{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    color: #3a85c9;
    line-height: 36px;
    margin-bottom: 20px;
}

#about-part .about-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #626568;
}

#about-part .about-details2{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #626568;
}

#about-part a {
	display: inline-block;
	padding: 9px 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	background: #ffffff;
	border-radius: 5%;
	color: #3a85c9;
	margin-top: 20px;
	transition: all linear .4s;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
}

#about-part a:hover{
   box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
     background: #3a85c9;
    color: #ffffff;
}

/*--------------------
    question-part
--------------------*/

#question-part{
    margin-top: 230px;
}

#question-part .frequent{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    color: #3a85c9;
    margin-bottom: 22px;
}

#question-part button{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #999999;
    text-decoration: none;
    width: 100%;
    position: relative;
    text-align: left;
}

#question-part .card-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #353535;
 
}

#question-part i{
    position: absolute;
    right: 0px;
    font-size: 14px;
    top: 35%;
}
.card{
    border: 0;
    margin-bottom: 15px;
}

.card-header{
    border-bottom: 0;
    background-color: #f5f5f5;
    padding: 4px 30px;
}

#question-part .newslatter{
    background: #d3e9fe;
    padding: 35px 30px;
    box-sizing: border-box;
    margin-top: 11px;
    margin-left: 15px;
}

#question-part .subscribe{
     font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    color: #3a85c9;
    line-height: 1.3;
    margin-bottom: 29px;
    
}

#question-part .subscribe-details{
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #878a8c;
    margin-bottom: 15px;
}

.form-control{
    border: 1px solid #bbbbbb;
    border-radius: 0;
    padding: 11px 15px;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: transparent;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 133, 201, .25);
    background: transparent;
}

#question-part ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #878a8c;
    font-weight: 400;
    font-style: italic;
}

#question-part .sbmt{
    background: #ffffff;
    text-align: center;
    border-radius: 0;
    color: #3a85c9;
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 26px;
    transition: all linear .4s;
}

#question-part .sbmt:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
     background: #3a85c9;
    color: #ffffff;
}

#question-part .lock{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #878a8c;
}
#question-part .lock span{
    margin-right: 5px;
}

/*--------------------
    camera-part
--------------------*/

#camera-part{
    margin-top: 154px;
    background: #f5f5f5;
}
#camera-part .camera{
     font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: capitalize;
    color: #3a85c9;
    margin-top: 60px;
}

#camera-part .camera-details{
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    margin-bottom: 35px;
    margin-top: 18px;
    line-height: 2;
}

#camera-part a{
      font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3a85c9;
    display: block;
}

#camera-part a .read{
    margin-left: 5px;
}

#camera-part .lft-part{
   
    max-width: 495px;
    margin: 0 auto;

}

#camera-part .lft-part img{
    position: relative;
    top: 70px;
    left: 0px;
}

#camera-part .right-part{
    position: relative;
}

#camera-part .right-part .bg-img{
    position: absolute;
    top: -63px;
    right: 0px;
}

#camera-part .right-part .round{
    width: 90px;
    height: 90px;
     border: 1px solid rgba(98, 97, 96, 1);
    border-radius: 50%;
    color: #3a85c9;
    display: inline-block;                                                                 position: absolute;
    transition: all linear .4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#camera-part .right-part .round:hover{
    border: 1px solid rgba(98, 97, 96, 1);
}

#camera-part .rgt-part{
    background: url(../images/camera-part-img.jpg) no-repeat center;
    background-size: cover;
}

#camera-part .right-part .round2{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(98, 97, 96, 1);
    border-radius: 50%;
    color: #3a85c9;
    display: inline-block;                                                                 position: absolute;
    bottom: -31%;
    left: -23px;
    transition: all linear .4s;
    position: absolute;
    bottom: 5%;
    left: 5px;
   
}

#camera-part .right-part .round2:hover{
    border: 1px solid rgba(98, 97, 96, 1);
}

#camera-part .right-part span{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ffffff;
    color: #3a85c9;
    display: inline-block;                                                                 position: absolute;
    bottom: 5%;
    left: 4px;
    transition: all linear .4s;
}

#camera-part .right-part span i{
    margin-top: 35%;
    margin-left: 43%;
    font-size: 20px;
     transition: all linear .4s;
  
}

#camera-part .right-part span:hover{
      background: #3a85c9;
}

#camera-part .right-part span:hover i{
    color: #ffffff;
}
/*--------------------
    index-product-part
--------------------*/

#index-product{
    margin-top: 167px;
}

#index-product .name{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #3a85c9;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#index-product .title-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #353535;
    line-height: 2;
}

.tab-link{
    width: 50%;
    padding: 0;
    margin-top: 15px;
    position: relative;
}

.m-t{
    margin-top: 60px;
}

.m-b-t{
    margin-top: 75px;
}

.round-overlay{
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: 2px;
    transition: all linear .4s;
    opacity: 0;
}

.tab-overlay{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #3a85c9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    padding: 10px 18px;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
    transition: all linear .4s;
}

.tab-link p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3a85c9;
    position: absolute;
    right: 75px;
    top: 5px;
    text-transform: capitalize;
    transition: all linear .4s;
    opacity: 0;
}

.tab-link:hover .round-overlay{
    opacity: 1;
}

.tab-link:hover p{
    opacity: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: transparent;
}

.right-img-part{
    float: left;
    width: 50%;
}

.right-img-part img{
    width: 100%;
    height: 555px;
}

.right-text-part{
    float: left;
    width: 50%;
    background: #f5f5f5;
    padding: 0 15px;
    padding-top: 15px;
    padding-bottom: 17px;
}

.right-text-part h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3a85c9;
}

.right-text-part ul{
    float: left;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

.right-text-part ul li{
    margin-top: 20px;
}

.type{
    margin-right: 60px;
}

.right-text-part a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
    background: #3a85c9;
    display: block;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
    transition: all linear .4s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
}

.right-text-part a:hover{
    background: #ffffff;
    color: #3a85c9;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    
}



/*--------------------
    product-part
--------------------*/
#product-part{
    margin-top: 165px;
}

.product .title{
     font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    color: #3a85c9;
}

.product .product-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #353535;
    line-height: 2;
    padding-top: 15px;
    padding-bottom: 60px;
}

#product-part .img-holder{
    margin-bottom: 30px;
    position: relative;
}

.img-holder .overlay2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3a85c9;
    display:inline-block;
    position: absolute;
    top: 6px;
    right: 50px;
    
    
}

.img-holder .overlay2{
     transition: all linear .4s;
}

.img-holder span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffffff;
    display: block;
    padding: 5px;
    
}

.img-holder .round{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3a85c9;
    display: block;
    padding: 17px;
    padding-top: 9px;
    font-size: 20px;
    color: #ffffff;
    
}

.img-holder .overlay{
    position: absolute;
    top: -18px;
    right: -22px;
    transition: all linear .4s;
}

.img-holder .overlay,
.img-holder .overlay2{
    opacity: 0;
}

.img-holder:hover .overlay,
.img-holder:hover .overlay2{
    opacity: 1;
}

#product-part .left-part{
    float: left;
}

#product-part .right-part{
    float: left;
    background: #f5f5f5;
    padding: 22px 15px;
}

#product-part .right-part ul{
    float: left;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
     font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    color: #353535;
    
}

.product-btn{
    display: inline-block;
    padding: 9px 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background:  #3a85c9;
    border-radius: 50%;
    color: #ffffff;
    margin-top: 33px;
    transition: all linear .4s;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0);
}

.product-btn:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
     background: #ffffff;
    color:  #3a85c9;
}

.right-part ul li{
    margin-bottom: 15px;
}

.right-part .tripod{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #3a85c9;
    text-transform: capitalize;
    margin-bottom: 15px;
    
}

#footer-part .right-part a{
    margin-top: 9px;
      font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
    background: #3a85c9;
    padding: 13px 45px;
    display: inline-block;
    border: 1px solid #3a85c9;
    transition: all linear .4s;
}

#footer-part .right-part a:hover{
    background: #ffffff;
    color: #3a85c9;
    border: 1px solid #3a85c9;
}

/*--------------------
    testimonial-part
--------------------*/

#testimonial-part{
    margin-top: 159px;
}

.testimonial .testi{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #3a85c9;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.testimonial .testi-details{
      font-family: 'Open Sans', sans-serif;            
    font-size: 14px;
    font-weight: 600;
    color: #353535;
    text-transform: capitalize;
    line-height: 2;
}

.slider-box{
    margin-top: 62px;
    padding-right: 30px;
}

.slider-box .slider-up{
    background: #daecfe;
    padding: 30px 19px 75px;
    border: 1px solid #daecfe;
}



.slider-up .text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

.slider-box .slider-down{
    padding-top: 70px;
    padding-bottom: 30px;
    border: 1px solid #daecfe;
    position: relative;
}

.slider-down .name{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #151515;
    text-transform: capitalize;
    margin-bottom: 0;

}

.slider-down .designation{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    text-transform: capitalize;
    margin-bottom: 0;
}

.slider-down .rate{
    color: #3a85c9;
    margin-bottom: 0;
}

.slider-down .img-rnd{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: -67px;
    left: 33%;
    
}


.slider-down img {
	border: 2px solid #468ccc;
	border-radius: 50%;
	margin-top: -5px;
	margin-left: -2px;
}

.round-prev{
    position: absolute;
    bottom: -70px;
    left: 46%;
    width: 40px;
    height: 40px;
    border: 1px solid #3f88ca;
    border-radius: 50%;
    background: transparent;
    font-size: 21px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
 
  
}

.round-next{
    position: absolute;
    bottom: -70px;
    left: 50%;
     width: 40px;
    height: 40px;
    border: 1px solid #3f88ca;
    border-radius: 50%;
    background: transparent;
    font-size: 21px;
    text-align: center;
    line-height: 40px;
    padding-left: 3px;
    cursor: pointer;
    
}

button:focus{
    outline: none;
}

.round-arrow{
    transition: all linear .4s;
       color: #3a85c9;
}

.round-arrow:hover{
    background: #3a85c9;
}

.round-next:hover{
    color: #ffffff;
}

.round-prev:hover{
    color: #ffffff;
}

/*--------------------
    news-part
--------------------*/

#news-part{
    margin-top: 229px;
    margin-bottom: 242px;
}

.news-part .news{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: capitalize;
    color: #3a85c9;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.news-part .news-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #353535;
    line-height: 2;
}

.news-slider{
    width: 100%;
    display: flex !important;
    padding-right: 30px;
    margin-top: 60px;
}

.news-slider .img-part{
    position: relative;
    width: 50%;
}

.news-slider .img-part{
    width: 50%;
}

.news-slider .img-part img{
    width: 100%;
    height: 100%;
}

.news-slider .news-overlay{
    background: rgba(0, 0, 0, .8);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all linear .4s;
    opacity: 0;
}

.news-slider .overlay-text{
    color: #000000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
     transition: all linear .4s;
}

.news-slider:hover .news-overlay{
    opacity: 1;
    width: 100%;
}

.news-slider:hover .overlay-text{
    color: #ffffff;
}

.news-slider .text-part{
    background: #f5f5f5;
    width: 50%;
}

.news-slider ul{
    list-style: none;
    display: flex;
    padding-left: 15px;
    padding-right: 13px;
    margin-top: 20px;
} 

.news-slider ul li:first-child img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.text-part .text-title{
     font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 800;
    text-transform: capitalize;
    padding-top: 32px;
    padding-left: 15px;
    padding-right: 13px;
     transition: all linear .4s;
    color: #151515;
    
    
}

.text-part ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    text-transform: capitalize;
}

.text-part ul li:first-child{
    margin-right: 8px;
}

.text-part ul li:last-child{
    margin-top: 5px;
}

.text-part ul li span{
    color: #999999;
}

.text-part .details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    padding-left: 15px;
    padding-right: 13px;
    margin-top: 30px;
}


.text-part a {
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #ffffff;
	background: #3a85c9;
	border: 1px solid #3a85c9;
	text-transform: capitalize;
	padding: 8px 20px;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 30px;
	transition: all linear .4s;
}
.text-part a:hover{
    background: #ffffff;
    color: #3a85c9;
}

.text-part .bottom-text {
      padding-left: 0;
    padding-right: 0;
}

.text-part .bottom-text li:first-child{
      font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #ffffff;
    background: #3a85c9;
    padding: 22px 8px;
     transition: all linear .4s;
  
}

.text-part .bottom-text li:last-child{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #3a85c9;
    position: relative;
     transition: all linear .4s;
}

.text-part .bottom-text{
    margin-top: 30px;
}


.text-part .bottom-text li:last-child:after{
    position: absolute;
    content: '';
    background: #3a85c9;
    width: 90%;
    height: 1px;
    top: -5px;
    left: 0;
     transition: all linear .4s;
}

.news-slider:hover .text-title{
    color: #3a85c9;
}

.news-slider:hover .bottom-text li:last-child{
    color:  #999999;
}

.news-slider:hover .bottom-text li:first-child{
    background: #dddddd;
    color: #999999;
}

.news-slider:hover .bottom-text li:last-child:after{
    background: #dadbdd;
}


/*--------------------
    footer-part
--------------------*/

.top-btn {
	padding: 6px 10px;
	background: #3a85c9;
	color: #ffffff;
	border: 1px solid #3a85c9;
	border-radius: 20px;
	display: inline-block;
	font-size: 17px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: none;
}

.top-btn:hover{
    background: #ffffff;
    color: #3a85c9;
}


#footer-part{
    background: #dbedfe;
    margin-top: 100px;
}

.blog-error-footer{
    margin-top: -100px;
}

#footer-part .logo-part{
    margin-left: 45%;
    transform: translateX(-45%);
    margin-top: 30px;
}



.adress-part .adress{
    list-style: none;
    display: flex;
    margin-top: 60px;
    margin-left: 74px;
    width: 100%;
}

.adress-part .adress li{
    margin-right: 20px;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.adress-part .adress li i{
    color: #ffffff;
    margin-left: 18%;
    transform: translateX(-50%);
}

.adress-part .adress li:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3a85c9;
    padding-top: 5px;
    padding-left: 19px;
    font-size: 25px;
}



#footer-part .follow{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    color: #3a85c9;
    margin-top: 60px;
    margin-bottom: 30px;
}

.social-link{
    position: relative;
}

.adress-part .social{
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
}

.adress-part .social li i{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #484949;
    padding-top: 9px;
    padding-left: 12px;
    font-size: 16px;
    margin-right: 10px;
    transition: all linear .4s;
}

.adress-part .social a{
    color: #484949;
}

.adress-part .social li i:hover{
    background: #3a85c9;
    border: 1px solid #3a85c9;
}

.adress-part .social a:hover{
    color: #ffffff;
}

.adress-part .social li i{
      margin-left: 18%;
    transform: translateX(-50%);
}

.footer-menu {
        margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 58px;
}
.footer-menu .menu-bottom{
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.menu-bottom li{
    margin-right: 50px;
    position: relative;
    margin-bottom: 30px;
}

.menu-bottom li:last-child::after {
    width: 0;
}

.menu-bottom li a{
     font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    transition: all linear .4s;
  
}


.menu-bottom li:after{
    position: absolute;
    content: '';
    background: #353535;
    width: 1px;
    height: 15px;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
}

.menu-bottom li a:hover{
    color: #3a85c9;
}


.copy-right{
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
}

.copy-right .copy{
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

.copy .designer{
    color: #3a85c9;
    
}

/*--------------------
 product-banner-part
--------------------*/

#products-part{
   margin-bottom: 170px;
   
}

.products-banner{
     background: url(../images/product-banner.png) no-repeat center;
    background-size: cover;
    margin-bottom: 113px;
}

.products-overlay{
    background: rgba(0, 0, 0, .7);
     padding: 77px 0;
}

.products{
      font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
}

#products-part ul{
    list-style: none;
}

.products-banner ul li{
    display: inline-block;
}

#products-part  li a{
      font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    display: inline-block;
}

.img-box{
    position: relative;
    margin-top: 30px;
    padding-left: 10px;
}

.img-box img{
    width: 100%;
}

.img-box-overlay{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: all linear .4s;
}

.img-box-overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #3a85c9;
    padding: 16px;
     transition: all linear .4s;
}

.img-box-overlay i:hover{
    background: #ffffff;
    color: #3a85c9;
}

.img-box:hover .img-box-overlay{
    opacity: 1;
    height: 100%;
}

/*--------------------
 404-banner-part
--------------------*/

#error-banner{
    background: url(../images/404page-banner.png) no-repeat center;
    background-size: cover;
    padding-top: 496px;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

#error-banner h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
}

#error-banner .error{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 21px;
    margin-bottom: 24px;
}

#error-banner a{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3a85c9;
    background: #ffffff;
    padding: 8px 32px;
    display: inline-block;
    border-radius: 21px;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
    transition: all linear .4s;
}

#error-banner a:hover{
     box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
    background: #3a85c9;
    color: #ffffff;
}

/*--------------------
    blog-grid-part
--------------------*/
.top-bar{
    border: 1px solid #dddddd;
    padding: 9px 9px;
    text-align: center;
}

.top-bar a{
    padding: 1px 6px;
    background: transparent;
    color: #353535;
    border: 1px solid #353535;
    display: inline-block;
    margin-right: 7px;
    font-size: 25px;
    transition: all linear .4s;
}

.top-bar a.ho:hover{
    background: #3a85c9;
    color: #ffffff;
    border: 1px solid #3a85c9;
}

.top-bar a.hov:hover{
    background: #3a85c9;
    color: #ffffff;
    border: 1px solid #3a85c9;
}

.blog-grid-a{
    margin-bottom: 30px;
}

.top-bar .bar{
    list-style: none;
    margin-left: 135px;
}

.top-bar .bar li{
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    float: left;
    margin-left: 15px;
}

.top-bar select{
    padding: 9px 12px;
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

.top-bar select:focus{
    outline: -webkit-focus-ring-color auto 0px;
}

.m-b{
    padding-top: 5px;
    padding-bottom: 12px;
}

.page-link:hover{
    background: transparent;
    border-color: #353535;
}

.pagination{
    padding-left: 42px;
}

#blog-grid .pagination li{
    display: inline-block;
}

#blog-grid .pagination li a{
    color: #353535;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
     padding: 10px 15px;
}

.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}

.page-link:hover{
    color: #353535;
}

.pagination li:first-child{
    margin-right: 5px;
    margin-top: 1%;
}

.pagination li:nth-child(6){
    margin-right: 8px;
    margin-top: 2%;
}

.p-r{
    padding-right: 0px;
    margin-top: 30px;
}

.page-item:last-child .page-link {
     border-top-right-radius: 0; 
     border-bottom-right-radius: 0; 
}

.dn{
    display: inherit;
}

.top{
    margin-top: 30px;
}


/*--------------------
 blog-grid-left-part
--------------------*/

.top-bar .ho{
    font-size: 20px;
}

.top-bar .bar2 {
    margin-left: 0px;
}

#blog-grid-left .pagination{
    float: right;
    padding-right: 9px;
}

#blog-grid-left .dn{
    float: inherit;
}

#blog-grid-left .pagination li{
    display: inline-block;
}

#blog-grid-left .pagination li a{
    color: #353535;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
     padding: 10px 15px;
}

#blog-grid-left input{
    width: 100%;
    padding: 6px 11px;
}

#blog-grid-left  [type=search] {
     outline-offset: 0px; 
     -webkit-appearance: push-button;
    border: 1px solid #dddddd;
    
}

#blog-grid-left  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #878a8c;
    font-weight: 400;
}

#blog-grid-left form{
    position: relative;
}

#blog-grid-left .srch{
    position: absolute;
    top: 19px;
    right: 0px;
    transform: translateY(-50%);
    border: 1px solid #dddddd;
    padding: 10px 11px;
    color: #999999;   
}

#blog-grid-left .catagory h4{
      font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #151515;
    margin-top: 60px;
}

#blog-grid-left .catagory ul{
   
    list-style: none;
}

.catagory .cata-name{
    float: left;
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.catagory .cata-name li a{
    margin-bottom: 15px;
    display: inline-block;
    color: #151515;
      transition: all linear .4s;
}

.catagory .cata-name span{
    position: absolute;
    right: 0;
    margin-top: -24px;
}

.cata-name li a:hover{
    color: #3a85c9;
    margin-left: 15px;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.popular ul li {
    margin-top: 60px;
}

.popular .blog-tb{
      font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 20px;
    color: #151515;
    transition: all linear .4s;
}

.popular .blog-tb.active{
    color: #3a85c9;
}

.popular .blog-tb:hover{
    color: #3a85c9;
}

.popular-content ul{
    list-style: none;   
}

.popular-content ul li{
    float: left;
}

.popular-content ul li:first-child{
    margin-right: 30px;
    position: relative;
}

.popular-content ul li:first-child:hover .popular-ovarlay{
    opacity: 1;
    height: 100%;
}


.popular-content .blog-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #353535;
    margin-bottom: 35px;
    transition: all linear .4s;
    
}

.popular-content ul:hover .blog-text{
    color: #3a85c9;
}


.popular-content span{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
}

.popular-ovarlay{
    background:rgba(58, 133, 201, .6);
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
     opacity: 0;
    transition: all linear .4s;

}

.popular-ovarlay i{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    color:#3a85c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 6px;
   
}

.tag .tags{
     font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 60px;
}

.tag a{
    padding: 7px 10px;
    border: 1px solid #dddddd;
    display: inline-block;
    text-align: center;
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    margin-top: 10px;
    transition: all linear .4s;
    margin-right: 12px;
}

.tag a:hover{
    color: #3a85c9;
    border: 1px solid #3a85c9;
}

.blog-left-details{
    line-height: 2;
}

/*--------------------
 blog-right-details-part
--------------------*/

#details-part{
}

#details-part ul{
    list-style: none;
}

.blog-heading{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 800;
    color: #3a85c9;
    margin-bottom: 36px;
}

.post-like .post{
    float: left;
}

.post-like .like{
    float: right;
}

.post li{
    display: inline-block;
}


.post li:first-child img{
    margin-top: -26px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 16px;
}

.post li:last-child{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 2;
}

.like li{
    display: inline-block;
    margin-right: 15px;
      font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}


.like i{
    margin-right: 5px;
}

.top-details{
     font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
    margin-top: 60px;
    margin-bottom: 35px;
}

.mdl-details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

.background-para{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    background: #f1f1f1;
    padding: 30px 27px;
    margin-top: 35px;
    position: relative;
    color: #353535;
}

.background-para:after{
    position: absolute;
    content: '';
    background: #3a85c9;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
}

.vedio{
    margin-top: 30px;
    margin-bottom: 60px;
}

.vdo{
    position: relative;
    float: left;
    margin-right: 30px;
}

.vdo .blog-overlay{
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all linear .4s;
   
}

.vdo:hover .blog-overlay{
    opacity: 1;
    height: 100%;
}

.vdo:hover i{
    opacity: 1;
  
}


.vdo i{
    width: 70px;
    height: 70px;
    border: 1px solid #3a85c9;
    border-radius: 50%;
    background: #3a85c9;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding-top: 25px;
    padding-left: 28px;
      opacity: 0;
    transition: all linear .4s;
}

.vdo i:hover{
    background: #ffffff;
    color: #3a85c9;
}

.blog-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

.vdo-text-mdl{
    margin-top: 35px;
    margin-bottom: 35px;
}

.tag span{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #151515;
    margin-right: 10px;
}

.tw{
    width: 100%;
}

.share{
    margin-top: 30px;
}

.share span{
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #151515;
    margin-right: 10px
    
}

.share .vdo-share{
    float: left;
}

.share p{
    display: inline-block;
}

.vdo-share i{
    color: #777777;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all linear .4s;
}

.vdo-share li{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dedede;
    border-radius: 50%;
    position: relative;
    transition: .4s;
    margin-right: 10px;
}

.vdo-share li:hover{
    background: #3a85c9;
}
.vdo-share li:hover i{
    color: #ffffff;
}

.blog-box {
    display: flex;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 100px;
}

.btm-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #9f9f9f;
    margin-top: 71px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all linear .4s;
}

.btm-text i{
    margin-left: 9px;
     transition: all linear .4s;
}

.blog-new-slider:hover .btm-text{
    color: #3a85c9;
}

.blog-new-slider:hover i{
     color: #3a85c9;
}

.blog-new-slider .text-title{
    padding-top: 0px;
    margin-right: 10px;
}

.blog-new-slider .blog-text-part{
    background: #ffffff;
}

.blog-new-slider ul{
    margin-top: 57px;
}

.blog-new-slider ul li:last-child img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.blog-new-slider .m-t{
    margin-top: 8px;
}

.blog-text-part .left{
    float: right;
}

.btm-text-lft{
    margin-top: 66px;
}

.msg{
     border-bottom: 1px solid #eeeeee;
    margin-top: 60px;
    padding-bottom: 13px;
}

.msg .left-msg{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #151515;
}

.msg .right-msg{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #353535;
}

.media{
    margin-top: 30px;
}

.media-body p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    text-transform: capitalize;
    margin-top: 13px;
    transition: all linear .4s;

}

.media-body i{
    transition: all linear .4s;
}

.media-body:hover p{
    color:#3a85c9;
}

.media-body:hover i{
    color:#3a85c9;
}

#massage form{
    margin-top: 30px;
}

#massage input{
    height: 33px;
    border: 1px solid #dddddd;
}

#massage textarea{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #dddddd;
    height: 118px;
    padding-left: 12px;
    padding-top: 9px;
    resize: none;
}

#massage input ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #777777;
  }
 
  .form-control:focus {
    box-shadow: 0 0 0 0rem rgba(58, 133, 201, .25);
    background: transparent;
}

form a{
    display: inline-block;
    width: 100%;
    background: #3a85c9;
    border: 1px solid #3a85c9;
    padding: 12px 0;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    transition: all linear .4s;


}

form a:hover{
    background: #ffffff;
    color: #3a85c9;
}



